{% extends 'base/layout/base.html' %}
{% load static %}


{% block style %}
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}




{% block content %}

{% include 'base/partials/_header.html' %}

	

	<section class="page-section">
		<div class="container-hospital">
			<div class="row card">

				<div class="filter-section card">


					<h2 class="blog-sidebar-title"><b>Categories</b></h2>
					<hr />

					<p class="blog-sidebar-list"><b><span class="list-icon"> > </span> Coffee</b></p>
					<p class="blog-sidebar-list"><b><span class="list-icon"> > </span> Green Coffee</b></p>
					<p class="blog-sidebar-list"><b><span class="list-icon"> > </span> Nigerian</b></p>
					<p class="blog-sidebar-list"><b><span class="list-icon"> > </span> Roasted Coffee</b></p>
					<p class="blog-sidebar-list"><b><span class="list-icon"> > </span> Uncategorized</b></p>

					<div>&nbsp;</div>
					<div>&nbsp;</div>

					<h2 class="blog-sidebar-title"><b>Filter</b></h2>
					<hr />

					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Search" aria-label="Receipient's username" aria-describely="basic-addon2">
						<div class="input-group-append">
							<span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
						</div>
						
					</div>

					<p class="tags">Price $4 - $25</p>
					<button type="button" class="btn btn-dark btn-lg">Filter</button>

					<div>&nbsp;</div>
					<div>&nbsp;</div>
			
				</div>
				<!--END  <div class="col-lg-3 blog-form">-->

				<div class="col-lg-9" style="padding-left: 30px;">
					<div class="rows card">
						<div class="col">
							Showing all 9 results
						</div>

						<div class="col">
							<select class="form-control">
								<option value="">Default Sorting</option>
								<option value="popularity">Sorting by popularity</option>
								<option value="average">Sorting by average</option>
								<option value="latest">Sorting by latest</option>
								<option value="low">Sorting by low</option>
								<option value="high">Sorting by high</option>
							</select>
						</div>

					</div>
					
					<div class="why-choose-box-container card">

						<!-- box -->
						<div class="why-choose-box">
							<!-- icon -->
							<i class="fa-solid fa-check"></i>
		
							<!-- text -->
							<div class="why-choose-boox-text">
								<strong>Advance Care</strong>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
		
						<!-- box 2 -->
						<div class="why-choose-box">
							<!-- icon -->
							<i class="fa-solid fa-check"></i>
		
							<!-- text -->
							<div class="why-choose-boox-text">
								<strong>Advance Care</strong>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
						<!-- box 3 -->
						<div class="why-choose-box">
							<!-- icon -->
							<i class="fa-solid fa-check"></i>
		
							<!-- text -->
							<div class="why-choose-boox-text">
								<strong>Advance Care</strong>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
		
						<!-- box 4 -->
						<div class="why-choose-box">
							<!-- icon -->
							<i class="fa-solid fa-check"></i>
		
							<!-- text -->
							<div class="why-choose-boox-text">
								<strong>Advance Care</strong>
								<p>Lorem ipsum dolor sit</p>
							</div>
						</div>
					</div>
					<!-- Sorting by <div class="row"> -->

				</div>
				<!--END  <div class="col-lg-9">-->

			</div>
		</div>
	</section>




   
{% endblock %}