{% extends 'base/layout/base.html' %}
{% load static %}


{% block style %}
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}




{% block content %}

{% include 'base/partials/_header.html' %}

	

	<section class="page-section">
		<div class="hospital-list">
			<div class="row card">

				<div class="side-part card">


					<h2 class="categorie-title"><b>Categories</b></h2>
					<hr />
					<ul>
						<li class="categorie-element"> Clinic</li>
						<li class="categorie-element"> Hospital</li>
						<li class="categorie-element"> Dispensary</li>
						<li class="categorie-element"> Drugstore</li>
						<li class="categorie-element"> Uncategorized</li>
					</ul>
					
					<div>&nbsp;</div>

					<h2 class="categorie-title"><b>Filter</b></h2>
					<hr />

					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Search" aria-label="Receipient's username" aria-describely="basic-addon2">
						<div class="input-group-append">
							<span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
						</div>
						
					</div>

					<button type="button" class="btn btn-dark btn-lg">Filter</button>

					<div>&nbsp;</div>
					<div>&nbsp;</div>
			
				</div>
				<!--END  <div class="col-lg-3 blog-form">-->

				<div class="hospital-element-container">
					<div class="hospital-elements card">
						<div class="col">
							Showing all 9 results
						</div>

						<div class="col">
							<select class="form-control">
								<option value="">Default Sorting</option>
								<option value="popularity">Sorting by popularity</option>
								<option value="average">Sorting by average</option>
								<option value="latest">Sorting by latest</option>
								<option value="low">Sorting by low</option>
								<option value="high">Sorting by high</option>
							</select>
						</div>

					</div>
					
					<div class="hospital-box-container card">


						{% for hospital in Organizations %}
						<div class="service-box s-box6 card">
							<!-- icon -->
							<i class="fa-solid fa-tooth"></i>
		
							<!-- title -->
							<strong>{{hospital.organization_name}}</strong>
							<!-- details -->
							<p>{{hospital.township}} </p>
							<p>{{hospital.town}} </p>
							<p>{{hospital.country}} </p>
		
							<!-- btn -->
						
							<a href="#">View Details</a>
		
						</div>

						{% endfor %}

					</div>
					<!-- Sorting by <div class="row"> -->

				</div>
				<!--END  <div class="col-lg-9">-->

			</div>
		</div>
	</section>




   
{% endblock %}