
/*  basic */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

:root {
    /* =====>>  Font Color  <<===== */
    --f1-color: #fff;
    --f2-color: #000;
    --f3-color: rgba(0, 0, 0, 0.8);
    --f4-color: rgba(0, 0, 0, 0.6);
    --f5-color: #0099cc;
    --f6-color: #88cee6;
  
    /* =====>>  Background Color  <<===== */
    --bg1-color: #fff;
    --bg2-color: #000;
    --bg3-color: #33ccff;
    --bg4-color: #33cc33;
    --bg5-color: #0099cc;
    --bg6-color: rgba(0, 0, 0, 0.4);
    --bg7-color: rgba(0, 0, 0, 0.2);
    --glass-bg: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3)
    );
    --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);
  
    /* ===== =====>>  Font Size  <<===== =====  */
    --xxxl-fs: 2.2rem;
    --xxl-fs: 1.8rem;
    --xl-fs: 1.6rem;
    --l-fs: 1.4rem;
    --m-fs: 1.2rem;
    --s-fs: 1.1rem;
    --xs-fs: 1rem;
  
    /* =====>>  Margin  <<===== */
    --m-2-5: 2.5rem;
    --m-1-8: 1.8rem;
    --m-1-5: 1.5rem;
    --m-0-6: 0.6rem;
    --m-0-5: 0.5rem;
    --m-0-3: 0.3rem;
  
    /* =====>>  Padding  <<===== */
    --p-2-5: 2.5rem;
    --p-1-5: 1.5rem;
    --p-1-0: 1rem;
    --p-0-8: 0.8rem;
    --p-0-5: 0.5rem;
    --p-0-4: 0.4rem;
    --p-0-3: 0.3rem;
  }
  

/* hero section */

#hero{
    background-color: #f5f7fb;
    background-image: url("../images/footer_map.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}


/* nav */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 30px 0px;
}

.logo{
    color: #122853;
    font-weight: 700;
    font-size: 1.4rem;

}

.logo span{
   background-color: #014dd5;
   color: #ffffff;
   padding: 0px 5px;
   border-radius: 5px;
   font-weight: 600;
   margin-right: 5px; 
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
}

.menu li a{
    margin: 0px 20px;
    color: #303030;
    font-weight: 500;
    transition: all ease 0.3s;
}

.menu li a:hover{
    color: #014dd5;
}

.nav-appointement-btn{
    height: 45px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #014dd5;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
}


/* hero content */

.hero-content{
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    margin-top: auto;

}

.hero-img{
    display: flex;
}

.hero-img img{
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: contain;
    object-position: center bottom;
}

.hero-text{
    display: flex;
    flex-direction: column;
    /* margin-top: 0px; */
}

.hero-text h1{
    font-size: 3.2rem;
    color: #122853;
    line-height: 3.6rem;
}

.hero-text p{
    color: #535353;
    margin: 15px Opx;
    max-width: 500px;
    letter-spacing: 0.3px;
    line-height: 1.8rem;

}

.hero-text-btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.hero-text-btns a{
    height: 45px;
    padding: 0px 15px;
    background-color: #122853;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 500;    
    margin-right: 10px;
}

.hero-text-btns a i{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1rem;
    padding-bottom: 1px;
}

.appointment-search-container{
    max-width: 1000px;
    width: 90%;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 16px 30px 0px rgba(0, 0, 0, 0.12);
    z-index: 3;
    position: relative;
    margin-top: -60px;

}

.appointment-search-container h3{
    color: #122853;
    font-size: 1rem;
    margin-bottom: 5px;
}

.appointment-search{
    display: grid;
    grid-template-columns: 1fr 1fr 60px;
    grid-gap: 10px;   
}

.appo-search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7fbff;
    padding: 15px;
    border-radius: 4px;
    border :1px solid #e4e4e4;

}

.appo-search-box i{
    color: #535353;
    margin-right: 10px;
}

.appo-search-box input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
   
}

.appointment-search button{
    background-color: #014dd5;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor:pointer;
}


/* what-we-provide */

.what-we-provide{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.w-info-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.w-info-icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 1.4rem;
    background-color: #ffdad4;
    border-radius: 5px;

}

.w-info-box1 .w-info-icon{
    background-color: #ffdad4;
}


.w-info-box2 .w-info-icon{
    
    background-color: #d4ffe1;
}
.w-info-box3 .w-info-icon{
    
    background-color: #d4e7ff;
}

.w-info-text{
    display:flex;
    flex-direction: column;
}

.w-info-text strong{
    color: #122853;
    font-weight: 700;
}

.w-info-text p{
    color: #535353;
    font-size: 0.9rem;
    letter-spacing: 0.3px;

}

#our-story{
    background-color: #f5f7fb;
    max-width: 1200px;
    width: 90%;
    margin: 80px auto;
    border: 10px solid #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.12);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.our-story-img{
    width: 100%;
    display: flex;
    position: relative;
}

.our-story-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.story-play-btn{
    position: absolute;
    left: 10px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dd3f3f;
    padding: 20px 10px;
    border-radius: 4px 4px 10px 10px;
    color: #ffffff;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 500;

}

.story-play-btn i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa2f0a;
    color: #ffffff;
    margin-bottom: 10px;
}

.our-story-text{
    padding: 50px;
}

.our-story-text h2{
    font-size: 2.8rem;
    color: #122853;
    line-height: 3rem;    
}

.our-story-text p{
    font-size: 0.9rem;
    color: #535353;
    margin: 10px 0px;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
}

.story-number-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.story-number-box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.story-number-box strong{
    color: #122853;
    font-weight: 700;
    font-size: 1.8rem;
}

.story-number-box span{
    color: #535353;
    font-size: 0.9rem;
}

.s-n-box1{
    background-color: #d4dfff;
}

.s-n-box2{
    background-color: #d4e7ff;
}
.s-n-box3{
    background-color: #ffd4fd;
}
.s-n-box4{
    background-color: #d7d4ff;
}

/* our services */

#our-services{
    width: 100%;
    background-color: #f5f7fb;
    margin: 50px auto 0px auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.services-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.services-heading-text strong{
    color: #014dd5;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.services-heading-text h2{
    font-size: 2.2rem;
    color: #122853;
    font-weight: 700;
    max-width: 600px;
}

.services-box-container{
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
}

.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    border: 5px solid #ffffff;
    padding: 30px;

}

.service-box:hover{
    border: 5px solid #c7d0eb;
}

.service-box i{
    font-size: 2rem;
    color: #122853;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-box strong{
    color: #122853;
    font-size: 1.4rem;
    margin-top: 20px;
}

.service-box p{
    color: #122853;
    font-size: 0.9rem;
    line-height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.service-box a{
    height: 45px;
    background-color: #122853;
    color: #ffffff;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 30px;
}

.s-box1{
    background-color: #ecf6fd;
}

.s-box1 i {
    background-color: #d4e2ff;
}
.s-box2{
    background-color: #edfff3;
}

.s-box2 i {
    background-color: #d4ffe1;
}

.s-box3{
    background-color: #fff0ee;
}

.s-box3 i {
    background-color: #ffdad4;
}
.s-box4{
    background-color: #fcffcf;
}

.s-box4 i {
    background-color: #faf4b8;
} 

.s-box5{
    background-color: #ecf6fd;
}

.s-box5 i {
    background-color: #d4e2ff;
}
.s-box6{
    background-color: #edfff3;
}

.s-box6 i {
    background-color: #d4ffe1;
}

.service-help-btn{
    color: #535353;
    font-size: 0.9rem;
    margin-top:10px;
    text-align: center;
    padding: 0px 10px;
}

.service-help-btn a{
    color: #014dd5;
    text-decoration: underline;
    font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    transform: translate(0,0);
    margin: 10px !important;
}

.services-slide-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px !important;
    font-weight: 800;
    color: #122853;
}


/* why choose us */

#why-choose-us{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.why-choose-us-left{
    padding: 50px;
    background-color: #3c8167;
}

.why-choose-us-right{
    padding: 50px;
    background-color: #4c71d0;
}


.why-choose-us-left h3,
.why-choose-us-right h3{
    font-size: 2.6rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 3.2rem;
}

.why-choose-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-gap: 10px;
 
}

.why-choose-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #4a8a70;

}

.why-choose-box i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25503f;
    margin-right: 10px;
    color: #ffffff;
}

.why-choose-box text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-choose-box-text strong{
    color: #ffffff;
    font-weight: 600;
}

.why-choose-box-text p{
    color: #ececec;
    font-size: 0.9rem;
    opacity: 0.7;
}

.why-choose-us-btn{
    background-color: #1a1a1b;
    color: #ffffff;
    padding: 0px 10px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    max-width: 200px;
    margin-top: 30px;
    font-size: 0.9rem;
}

.why-choose-us-right p{
    color: #dfdfdf;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
    margin: 10px 0;
}

.w-right-contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.w-right-contact-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.w-right-contact-box i{
    width: 50px;
    height: 50px;
    background-color: #4060b3;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    margin-right: 10px;
}

.w-right-contact-box-text{
    display: flex;
    flex-direction: column;
}

.w-right-contact-box-text span{
    color: #e4e4e4;
    font-size: 0.7rem;
}

.w-right-contact-box-text strong{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;

}

#team{
    max-width: 1200px;
    width: 90%;
    margin: 80px auto;
}

.team-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-heading h3{
    font-size: 2.4rem;
    color: #122853;
}

.team-heading p{
    font-size: 0.9rem;
    color: #535353;
    letter-spacing: 0.3px;
}

.team-box-container{
    width: 100%;
    margin-top: 40px;
}
.team-box{
    max-width: 300px;
    /* display: flex;
    flex: column; */
}
.team-img{
    background-color: #f5f7fb; 
    padding: 10px 10px 0px  10px;
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.team-img img{
    width: 100%;
    height: 95%;
    object-fit: contain;
    object-position: center bottom;
}

.team-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;   
    margin-top: 10px;
}
.team-text strong{
    color: #122853;
}

.team-text span{
    color: #303030;
    font-size: 0.9rem;
    margin-top: 5px;
}

#hero-header{
    background-color: #f5f7fb;
    background-image: url("../images/footer_map.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}

.header-content{
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding-bottom: 10px;
 
}

.page-section{
    width: 100%;
    background-color: #ffffff;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container-hospital{
    max-width: 1200px;
    margin: 0px auto;
    width: 90%;
    margin-top: 20px;

}

.row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: var(--p-1-5);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
    grid-gap: 1rem;
    
}

.rows{
    
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
}

.card {
    background: var(--glass-bg);
    backdrop-filter: blur(3rem);
    border-radius: 0.5rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    padding: var(--p-1-5);
}