{% extends 'base/layout/base.html' %}
{% load static %}

{% block content %}
 
    <section id="hero">

        {% include 'base/partials/_navigation.html' %}
        <!-- content -->
        <div class="hero-content">

        <!-- text -->
            <div class="hero-text">
                <h1>Afia mbele <br/> Your health our priority</h1>
                <p>We bring together the best services and sanitary products to provide you with flawless support and well-being on a daily basis.</p>

            <!-- boutons -->
                <div class="hero-text-btns">
                    <a href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Find hospital
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-suitcase-medical"></i>
                        Insurance support
                    </a>
                </div>
            </div>
          <!-- end text -->

          <!-- images -->

          <div class="hero-img">
            <img src="{% static 'image/hospital5.png' %}" alt="hospital">
          </div>

        </div>
  
    </section>

    <!-- Search section -->
    {% include 'base/partials/_search.html' %}

    <!-- End Search section -->

    <!-- What we provide -->
    <section class="what-we-provide">
    
        <!-- box1   -->
        <div class="w-info-box w-info-box1">
            <!-- icon -->
            <div class="w-info-icon">
                <i class="fa-solid fa-capsules"></i>
            </div>

            <!-- text -->
            <div class="w-info-text">
                <strong>
                    Specialised Service
                </strong>

                <p>Quality within everyone's reach</p>
            </div>
        </div>

        <!-- box2   -->
        <div class="w-info-box w-info-box2">
            <!-- icon -->
            <div class="w-info-icon">
                <i class="fa-regular fa-comment"></i>
            </div>

            <!-- text -->
            <div class="w-info-text">
                <strong>
                    24/7 advanced care
                </strong>

                <p>uninterrupted support</p>
            </div>
        </div>

        <!-- box 3  -->
        <div class="w-info-box w-info-box3">
            <!-- icon -->
            <div class="w-info-icon">
                <i class="fa-solid fa-square-poll-horizontal"></i>
            </div>

            <!-- text -->
            <div class="w-info-text">
                <strong>
                    Get Result Online
                </strong>

                <p>your results at your fingertips</p>
            </div>
        </div>

    </section>

    <!-- End what we provide -->

    <!-- our story-->
    {% include 'base/partials/_story.html' %}
    <!-- End our story -->

      
            <!-- our services -->

    <section id="our-services">
        <!-- heading -->
        <div class="services-heading">
            <!-- text -->
            <div class="services-heading-text">
                <strong>Our crafts</strong>
                <h2>High Quality Services for You</h2>

            </div>

            <!-- btns -->
            <div class="services-slide-btns">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>

        <!-- box container -->
        <div class="services-box-container">

            <!-- service slider -->

            <div class="swiper mySwiperServices">
                <div class="swiper-wrapper">
                    {% for service in Services %}
                    <div class="swiper-slide">
                        
                            <!-- box1 -->
                        <div class="service-box s-box{{service.id}}">
                            <!-- icon -->
                            <i class="fa-solid fa-tooth"></i>

                            <!-- title -->
                            <strong>{{service.service_name}}</strong>
                            <!-- details -->
                            <p>{{service.service_description}}</p>

                            <!-- btn -->

                            <a href="#">Read More</a>

                        </div>
                        
                    </div>
                    {% endfor %}
                    <div class="swiper-slide">
                                <!-- box2 -->                  
                            
                        <div class="service-box s-box2">
                            <!-- icon -->
                            <i class="fa-solid fa-tooth"></i>

                            <!-- title -->
                            <strong>Health care</strong>
                            <!-- details -->
                            <p>Help a significant number of people improve their access to healthcare </p>

                            <!-- btn -->

                            <a href="#">Read More</a>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- box3 -->
                        <div class="service-box s-box3">
                            <!-- icon -->
                            <i class="fa-solid fa-tooth"></i>

                            <!-- title -->
                            <strong>Linkage  </strong>
                            <!-- details -->
                            <p>Connecting hospitals, consumers, and insurance providers
                            </p>

                            <!-- btn -->

                            <a href="#">Read More</a>

                        </div>

                    </div>
                    <div class="swiper-slide"> 
                                    <!-- box4 -->
                        <div class="service-box s-box4">
                                <!-- icon -->
                                <i class="fa-solid fa-tooth"></i>
            
                                <!-- title -->
                                <strong>Support</strong>
                                <!-- details -->
                                <p>Providing access to more detailed healthcare information
                                </p>
            
                                <!-- btn -->
            
                                <a href="#">Read More</a>
            
                        </div>
                    </div>
                    

                </div>
                 
                    
            </div>
            
        </div>
            
            
    
        </div>

        <span class="service-help-btn">There are even more, only one click  here to visit all the hospitals in our network <a href=""> Get Start </a></span>
    </section>
    <!-- why choose us -->
    <section id="why-choose-us">
        <!-- left -->
        <div class="why-choose-us-left">
            <h3>Why choose us?</h3>

            <!-- container -->

            <div class="why-choose-box-container">

                <!-- box -->
                <div class="why-choose-box">
                    <!-- icon -->
                    <i class="fa-solid fa-check"></i>

                    <!-- text -->
                    <div class="why-choose-boox-text">
                        <strong>Advance Care</strong>
                        <p>Care services</p>
                    </div>
                </div>

                <!-- box 2 -->
                <div class="why-choose-box">
                    <!-- icon -->
                    <i class="fa-solid fa-check"></i>

                    <!-- text -->
                    <div class="why-choose-boox-text">
                        <strong>Financial support</strong>
                        <p>Insurance provider</p>
                    </div>
                </div>
                <!-- box 3 -->
                <div class="why-choose-box">
                    <!-- icon -->
                    <i class="fa-solid fa-check"></i>

                    <!-- text -->
                    <div class="why-choose-boox-text">
                        <strong>Quality</strong>
                        <p>Best partners</p>
                    </div>
                </div>

                <!-- box 4 -->
                <div class="why-choose-box">
                    <!-- icon -->
                    <i class="fa-solid fa-check"></i>

                    <!-- text -->
                    <div class="why-choose-boox-text">
                        <strong>Proximity</strong>
                        <p>Arround you all time</p>
                    </div>
                </div>
            </div>
            <!-- boutton appointement -->
            <a href="#" class="why-choose-us-btn">Make Appointement</a>
        </div>

        <!-- right -->

        <div class="why-choose-us-right">
            <h3>
                Emergency? <br/>
                Contact Us
            </h3>
            <p>We're alway arround</p>
            <p>Permanent support on this line</p>

            <!-- container -->
            <div class="w-right-contact-container">
                <!-- box -->
                <div class="w-right-contact-box">
                    <!-- icon -->
                    <i class="fa-solid fa-phone"></i>
                    <!-- text -->
                    <div class="w-right-contact-box-text">
                        <span>Call Us Now</span>
                        <strong>+243 850847525</strong>
                    </div>
            
                </div>
                <!-- end box  -->
                <!-- box 2 -->
                    <div class="w-right-contact-box">
                        <!-- icon -->
                        <i class="fa-solid fa-envelope"></i>
                        <!-- text -->
                        <div class="w-right-contact-box-text">
                            <span>Our mail</span>
                            <strong>info@afiambele.org</strong>
                        </div>
                
                    </div>
                    <!-- end box  -->
            </div>
            <!-- end container -->
        </div>

    </section>

    <!-- team -->
    <section id="team">
        <div class="team-heading">
            <h3>Meet our team</h3>
            <p>The best team for all your need</p>
        </div>

        <!-- container -->
        <div class="team-box-container">
            <!-- swipper -->
            <div class="swiper myteam">
                <div class="swiper-wrapper">
                     <!-- slide 1 -->    
                    <div class="swiper-slide">
                         <!-- box -->
                        <div class="team-box">
                            <!-- images -->
                            <div class="team-img">
                                <img src="{% static 'image/dan.png' %}" >
                            </div> 
                            <!-- text -->
                            <div class="team-text">
                                <strong>Dan Ntalemba</strong>
                                <span>Team member</span>
                            </div>
                        </div>
                    </div>
                    <!-- slide 2 -->    
                    <div class="swiper-slide">
                        <!-- box -->
                       <div class="team-box">
                           <!-- images -->
                           <div class="team-img">
                               <img src="{% static 'image/zeino.png' %}">
                           </div> 
                           <!-- text -->
                           <div class="team-text">
                               <strong>Zeinab Muhidin</strong>
                               <span>Team member</span>
                           </div>
                       </div>
                    </div>
                        <!-- slide 3 -->    
                    <div class="swiper-slide">
                        <!-- box -->
                    <div class="team-box">
                        <!-- images -->
                        <div class="team-img">
                            <img src="{% static 'image/justice.png' %}">
                        </div> 
                        <!-- text -->
                        <div class="team-text">
                            <strong>Chukwonye Justice</strong>
                            <span>Team member</span>
                        </div>
                    </div>
                    </div>
                    <!-- slide 4 -->    
                    <div class="swiper-slide">
                        <!-- box -->
                    <div class="team-box">
                        <!-- images -->
                        <div class="team-img">
                            <img src="{% static 'image/Abayomi.png' %}">
                        </div> 
                        <!-- text -->
                        <div class="team-text">
                            <strong>Abayomi Abiodun</strong>
                            <span>Team Captain</span>
                        </div>
                    </div>
                    </div>
               
                  

                </div>
                <div class="swiper-pagination"></div>
            </div>
           
         
        </div>

    </section>

    <!-- End team -->
    
    
 
 {% endblock %}