{% load static %}
    <!-- nav -->

        <nav class="navigation">

            <!-- logo -->
            <a href="#" class="logo"> <span>Afia</span> Mbele</a>

            <!-- menu -->

            <ul class="menu">
                <li><a href="{% url 'listhospital' %}">Find Hospital</a></li>
                <li><a href="#">Best Insurrance</a></li>
                <li><a href="#">Emmergency</a></li>
               
            </ul>

            <!-- login button -->
            <a href="{% url 'registrations' %}" class="nav-appointement-btn">Sign in</a>

        </nav>
        <!-- End nav -->

      
      
    
 