<div class="appointment-search-container">
    <h3>
        Find Best HealthCare
    </h3>

    <!-- search -->
    <div class="appointment-search">

        <!-- search box -->
        <div class="appo-search-box">

            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search hospital">
        </div>
        <div class="appo-search-box">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Set Your location">
        </div>
        <!-- button -->

        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <!-- End Search -->
</div>