{% load static %}
<!-- Our story -->

<section id="our-story">
    <!-- img -->
    <div class="our-story-img">
        <img src="{% static 'image/hel.webp' %}">

        <!-- video play button -->
        <a href="#" class="story-play-btn">
            <i class="fa-solid fa-play"></i>
            Play Video
        </a>
    </div>

    <!-- our story text -->
    <div class="our-story-text">
        <h2>Short story about us.</h2>
        <p>our solution(Afia Mbele) has the potential to perform the following </p>
        <p>
            Help a significant number of people improve their access to healthcare facilities. 
            Providing access to more detailed healthcare information and 
            Connecting hospitals, consumers, and insurance providers
            Afia Mbele would lead to a 60% improvement in health outcomes for africa individuals. 
             we believe our solution has the potential to make a meaningful difference in people's lives in africa.
        </p>
        
        <!-- happy client -->
        <div class="story-number-container">
            <div class="story-number-box s-n-box1">
                <strong>1000+</strong>
                <span>Happy patients</span>

            </div>
            <div class="story-number-box s-n-box2">
                <strong>214+</strong>
                <span>Expert Doctor's</span>

            </div>
            <div class="story-number-box s-n-box3">
                <strong>158+</strong>
                <span>Health facilities</span>

            </div>
            <div class="story-number-box s-n-box4">
                <strong>50+</strong>
                <span>Health Insurance partners</span>

            </div>
            
        </div>
        <!-- End container -->
    </div>
</section>
<!-- End short story session -->