{% load static %}
<!-- Our story -->

<section id="our-story">
    <!-- img -->
    <div class="our-story-img">
        <img src="{% static 'images/hel.webp' %}" alt="">

        <!-- video play button -->
        <a href="#" class="story-play-btn">
            <i class="fa-solid fa-play"></i>
            Play Video
        </a>
    </div>

    <!-- our story text -->
    <div class="our-story-text">
        <h2>Short story about us.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sequi necessitatibus repudiandae temporibus eius. Quos numquam obcaecati magnam libero sequi culpa illo nemo, a autem, quis voluptatibus, officia assumenda  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta dolor quibusdam pariatur ea sed magni placeat quod error quas, maiores omnis provident aliquam tempora quo, nihil reiciendis cumque? Quasi, excepturi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sunt nulla, recusandae repellendus ratione assumenda, aliquid earum, laboriosam ullam harum sequi perferendis</p>
        
        <!-- happy client -->
        <div class="story-number-container">
            <div class="story-number-box s-n-box1">
                <strong>1000+</strong>
                <span>Happy patients</span>

            </div>
            <div class="story-number-box s-n-box2">
                <strong>214+</strong>
                <span>Expert Doctor's</span>

            </div>
            <div class="story-number-box s-n-box3">
                <strong>158+</strong>
                <span>Health facilities</span>

            </div>
            <div class="story-number-box s-n-box4">
                <strong>50+</strong>
                <span>Health Insurance partners</span>

            </div>
            
        </div>
        <!-- End container -->
    </div>
</section>
<!-- End short story session -->